<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <!--servlet context listener allow to handel start end destroy method of application-->
    <listener>
        <listener-class>am.pm.controller.Initializer</listener-class>
    </listener>
    <!--servlets-->
    <servlet>
        <servlet-name>GoController</servlet-name>
        <servlet-class>am.pm.controller.GoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GoController</servlet-name>
        <url-pattern>/go/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GoAdminController</servlet-name>
        <servlet-class>am.pm.controller.admin.GoAdminController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GoAdminController</servlet-name>
        <url-pattern>/admin/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GoUserController</servlet-name>
        <servlet-class>am.pm.controller.user.GoUserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GoUserController</servlet-name>
        <url-pattern>/user/*</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>SigInController</servlet-name>
        <servlet-class>am.pm.controller.SigInController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SigInController</servlet-name>
        <url-pattern>/sign-in</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SigOutController</servlet-name>
        <servlet-class>am.pm.controller.SigOutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SigOutController</servlet-name>
        <url-pattern>/sign-out</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>SigUpController</servlet-name>
        <servlet-class>am.pm.controller.SigUpController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SigUpController</servlet-name>
        <url-pattern>/sign-up</url-pattern>
    </servlet-mapping>
    <!--Product-->
    <servlet>
        <servlet-name>ProductAddController</servlet-name>
        <servlet-class>am.pm.controller.admin.ProductAddController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductAddController</servlet-name>
        <url-pattern>/product/add</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProductDeleteController</servlet-name>
        <servlet-class>am.pm.controller.admin.ProductDeleteController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductDeleteController</servlet-name>
        <url-pattern>/product/delete</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>am.pm.controller.admin.ProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/products/view</url-pattern>
    </servlet-mapping>
    <!--2-->
    <servlet>
        <servlet-name>ProductCategoryAddController</servlet-name>
        <servlet-class>am.pm.controller.admin.ProductCategoryAddController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductCategoryAddController</servlet-name>
        <url-pattern>/product-category/add</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProductCategoryDeleteController</servlet-name>
        <servlet-class>am.pm.controller.admin.ProductCategoryDeleteController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductCategoryDeleteController</servlet-name>
        <url-pattern>/product-category/delete</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProductCategoryController</servlet-name>
        <servlet-class>am.pm.controller.admin.ProductCategoryController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductCategoryController</servlet-name>
        <url-pattern>/product-categories/view</url-pattern>
    </servlet-mapping>

    <!--3-->
    <servlet>
        <servlet-name>ProductDetailAddController</servlet-name>
        <servlet-class>am.pm.controller.admin.ProductDetailAddController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductDetailAddController</servlet-name>
        <url-pattern>/product-detail/add</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProductDetailDeleteController</servlet-name>
        <servlet-class>am.pm.controller.admin.ProductDetailDeleteController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductDetailDeleteController</servlet-name>
        <url-pattern>/product-detail/delete</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProductDetailController</servlet-name>
        <servlet-class>am.pm.controller.admin.ProductDetailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductDetailController</servlet-name>
        <url-pattern>/product-details/view</url-pattern>
    </servlet-mapping>
    <!--4-->
    <servlet>
        <servlet-name>ProductTypeAddController</servlet-name>
        <servlet-class>am.pm.controller.admin.ProductTypeAddController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductTypeAddController</servlet-name>
        <url-pattern>/product-type/add</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProductTypeDeleteController</servlet-name>
        <servlet-class>am.pm.controller.admin.ProductTypeDeleteController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductTypeDeleteController</servlet-name>
        <url-pattern>/product-type/delete</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProductTypeController</servlet-name>
        <servlet-class>am.pm.controller.admin.ProductTypeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductTypeController</servlet-name>
        <url-pattern>/product-types/view</url-pattern>
    </servlet-mapping>

    <!--Admin Survey-->
    <servlet>
        <servlet-name>SurveyController</servlet-name>
        <servlet-class>am.pm.controller.admin.SurveyController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SurveyController</servlet-name>
        <url-pattern>/admin/surveys/view</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SurveyAddController</servlet-name>
        <servlet-class>am.pm.controller.admin.SurveyAddController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SurveyAddController</servlet-name>
        <url-pattern>/admin/survey/add</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SurveyDeleteController</servlet-name>
        <servlet-class>am.pm.controller.admin.SurveyDeleteController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SurveyDeleteController</servlet-name>
        <url-pattern>/admin/survey/delete</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SurveyManageController</servlet-name>
        <servlet-class>am.pm.controller.admin.SurveyManageController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SurveyManageController</servlet-name>
        <url-pattern>/admin/survey/manage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminSurveyManagedController</servlet-name>
        <servlet-class>am.pm.controller.admin.SurveyManagedController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminSurveyManagedController</servlet-name>
        <url-pattern>/admin/survey/managed</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SurveyUpdateController</servlet-name>
        <servlet-class>am.pm.controller.admin.SurveyUpdateController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SurveyUpdateController</servlet-name>
        <url-pattern>/admin/survey/update</url-pattern>
    </servlet-mapping>

    <!--Admin Survey End-->

    <!--User -->
    <servlet>
        <servlet-name>UserSurveyManageController</servlet-name>
        <servlet-class>am.pm.controller.user.SurveyManageController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserSurveyManageController</servlet-name>
        <url-pattern>/user/survey/manage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserSurveyController</servlet-name>
        <servlet-class>am.pm.controller.user.SurveyController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserSurveyController</servlet-name>
        <url-pattern>/user/surveys/view</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AnswerSurveyController</servlet-name>
        <servlet-class>am.pm.controller.user.SurveyAnswerController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AnswerSurveyController</servlet-name>
        <url-pattern>/user/survey/answer</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SurveyManagedController</servlet-name>
        <servlet-class>am.pm.controller.user.SurveyManagedController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SurveyManagedController</servlet-name>
        <url-pattern>/user/survey/managed</url-pattern>
    </servlet-mapping>
    <!--Filter-->
    <filter>
        <filter-name>UserFilter</filter-name>
        <filter-class>am.pm.controller.filter.UserFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserFilter</filter-name>
        <url-pattern>/user/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>am.pm.controller.filter.AdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>



</web-app>